# Environment
venv/
__pycache__/

# Performance Data (Local only)
performance.json

# System
.DS_Store

# IDE
.vscode/
.idea/

# Any generated media from the script such as .jpg, .mp3, .mp4, etc.
*.jpg
*.gif
*.png
*.mp4
*.mp3
*.wav

